.admin-kyc-requests-container {
    padding: 20px;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .approve-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .reject-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .rejection-note {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
  }
  