.get-ledger-container {
    display: flex;
    flex-direction: column;
    gap: 15px;  
    align-items: center;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px; 
  }
  
 
  .bank-id-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;  
    width: 100%;
    max-width: 500px;
    color: #4A4A4A;
  }
  
  .bank-id-input label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .bank-id-input input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
 
  .filters {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;  
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
  }
  
  
  .page-size,
  .pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
   
  .table-container {
    width: 100%; 
    margin: 20px auto;
    overflow-x: auto;  
    padding: 0;  
  }
  
   
  .table-container::before,
  .table-container::after {
    content: '';
    display: none;
  }
  
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F5FFFA;
    border-radius: 0;  
    border: 1px solid #ddd;
    table-layout: auto;  
    box-shadow: none;  
  }
  
   
  .custom-table-header {
    background-color: #008080;
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    border: 1px solid #ddd;
    white-space: nowrap;  
  }
  
  
  .custom-table-cell {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 13px;
    color: #4A4A4A;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
  }
  
   
  .custom-table-row:nth-child(even) {
    background-color: #E8F5F5;
  }
  
  .custom-table-row:nth-child(odd) {
    background-color: #F5FFFA;
  }
  
  .custom-table-row:hover {
    background-color: #DFF5F5;
    cursor: pointer;
  }
  
  
  @media (max-width: 768px) {
    .filters,
    .bank-id-input {
      max-width: 90%;
    }
  
    .custom-table {
      font-size: 12px;
    }
  
    .custom-table-header,
    .custom-table-cell {
      padding: 8px;
    }
  }
  

  .bank-id-select {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 16px; 
  }
  
  .bank-id-select label {
    font-size: 16px;
    font-weight: bold;
    color: #6c757d;  
  }
  
  .bank-select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;  
    color: #333;  
  }
  