.view-accounts-button {
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.view-accounts-button:hover {
  background-color: #0056b3;
}

.view-accounts-button:active {
  background-color: #003d80;
  transform: scale(0.97);
}


.back-to-view-banks-button {
  margin-bottom: 15px;  
  padding: 5px 10px;  
  font-size: 14px; 
  background-color: #007bff;  
  color: white;  
  border: none;  
  border-radius: 5px;  
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin-left: -340px;
}

.back-to-view-banks-button:hover {
  background-color: #0056b3; 
}